<footer class="page-footer" class="teal darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Proyecto MisionTIC 2022</h5>
          <p class="black-text">Este proyecto fué desarrollado en el proceso de formación del Diplomado 
            de Habilidades de Programación de Software con la Universidad de Caldas, patrocinado por el Ministerios de 
            las Tecnologías de la Infomación y las Comunicaciones.</p>
            <div class="row center-align">
            </div>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="green-text text-lighten-3">Equipo 2 / Grupo 30</h5>
           <ul>
            <li><a class="green-text text-lighten-3" href="#!">Juan Enrique Cruz</a></li>
            <li><a class="green-text text-lighten-3" href="#!">Edixon Figueroa Mujica</a></li>
            <li><a class="green-text text-lighten-3" href="#!">Mery Hueso Ramirez</a></li>
            <li><a class="green-text text-lighten-3" href="#!">Pierre Niño Forero</a></li>
            <li><a class="green-text text-lighten-3" href="#!">Yeisson Rozo Quevedo</a></li>
            <br>
            © 2022 ColDevStrong
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="footer-copyright">
      <div class="container">
      © 2022 ColDevStrong
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>-->
  </footer>
