<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MisionTIC 2022</h5>
          <p class="grey-text text-lighten-4">Contenido en construcción</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text">Integrantes Equipo 2 / Grupo 30</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Juan Enrique Cruz</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Edixon Figueroa Mujica</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Mery Hueso Ramirez</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Pierre Niño Forero</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Yeisson Rozo Quevedo</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 ColDevStrong
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
