<div class="container">
    <h3 class="btn">REGISTRAR RUTA</h3>
      <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="store()">
        <div class="row">
          <div class="input-field col s4">
            <select class="browser-default" formControlName="origen" >
              <option value="" disabled selected>Seleccione el aeropuerto origen</option>
              <option *ngFor="let aeropuerto of listadoAeropuertos" value="{{aeropuerto.nombre}}">{{aeropuerto.nombre}} - {{aeropuerto.ciudad}}</option>
            </select>
          </div>
          <div class="input-field col s4">
            <select class="browser-default" formControlName="destino" >
              <option value="" disabled selected>Seleccione el aeropuerto destino</option>
              <option *ngFor="let aeropuerto of listadoAeropuertos" value="{{aeropuerto.nombre}}">{{aeropuerto.nombre}} - {{aeropuerto.ciudad}}</option>
            </select>
          </div>
          <div class="input-field col s4">
            <input formControlName="tiempo_estimado" type="text" class="validate">
            <label for="tiempo_estimado">Tiempo Estimado</label>
          </div>
                  
        <div class="row center-align">
          <button routerLink="/rutas/get/" class="btn blue" name="action" style="margin-right: 15px">Cancelar<i class="material-icons right">cancel</i></button> 
          <button [disabled]="!fgValidacion.valid" class="btn green" type="submit" name="action">Guardar<i class="material-icons right">save</i></button>
        </div>
      </div>
      </form>
    </div>
  
  
